.blue-text {
    color: #0c3675;
}

.home {
    background-color: #c5dafa;
}

.card {
    background-color: #0c3675;
}

.text-opacity-50 {
    opacity: 0.3;
}

.panel-div-item {
    background-color: #c5dafa;
}

.scrollable-div {
    max-height: 215px;
    overflow-y: auto;
}