{% extends 'enroll.html' %}


{% block content%}
<div class="container-fluid row home mt-3 justify-content-center" style="padding-bottom: 18rem;">
    <h1 class="display-6 mt-2 mb-2 text-center blue-text">New Class</h1><hr>
    <div class="container row w-100">
        <div class="container-fluid justify-content-center w-100">
            
            {% for message in messages %}
                <h5 class="text-success">message</h5>
            {% endfor %}
                
            <form class="row form justify-content-center w-100 shadow-sm mt-4" action="add_new_class" method="POST">
                {% csrf_token %}
                {{form}}
                <!-- <div class="row">
                    <div class="col-12 col-lg-6">
                        <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                        <input type="text" required class="form-control" name="name">
                    </div>
                    <div class="col-12 col-lg-6">
                        <label for="name" class="form-label">Category <span class="text-danger">*</span></label>
                        <select class="form-select" name="category" aria-label="Default select example">
                            <option selected>Category</option>
                            <option value="crech">Crech / Kindergarten</option>
                            <option value="lower_primary">Lower Primary</option>
                            <option value="upper_primary">Upper Primary</option>
                            <option value="jhs">JHS</option>
                        </select>                        
                    </div>
                </div>
                <div class="row mt-3">   
                    <div class="col-12 col-lg-6">
                        <label for="class_teacher" class="form-label">Class teacher <span class="text-danger">*</span> </label>
                        <input type="text" required class="form-control" name="class_teacher">
                    </div>
                    <div class="col-12 col-lg-6">
                        <label for="lname" class="form-label">Date <span class="text-danger">*</span> </label>
                        <input type="date" required class="form-control" name="lname">
                    </div>

                </div> -->
               
                <div class="row w-100 mt-5 justify-content-center mb-5">
                    <input type="submit" class="col-auto btn btn-primary " value="Add Class">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}
    