{% extends 'student_info.html' %}
{% load static %}

{% block db_table_header_text %}
    Classrooms
{% endblock db_table_header_text %}

{% block db_table_header_icon %}
<a href="{% url 'add_new_class' %}" class="text-decoration-none" title="new classroom">
    <img src="{% static 'add_class.png' %}" width="35" height="35" class="img-fluid">
</a>
{% endblock db_table_header_icon %}


{% block db_table %}
{% for message in messages %}
    <h5 class="text-success">{{message}}</h5>
{% endfor %}
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Number of students</th>
        <th>Class Teacher</th>
    </tr>
    {% for class in classes %}
    <tr>
        <a href=""><td>{{class.name}}</td></a>
        <td>{{class.num_of_students}}</td>
        
        {% if class.class_teacher %}
            
        <td>{{class.class_teacher.full_name}}</td>

        {% else %}

        <td>---</td>

        {% endif %}
            
    </tr>

    {% endfor %}

</table>
{% endblock db_table %}
    