{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container-fluid row home w-100 mt-3 pb-0 h-100">
    <div class="container h-100 pb-3" >
        <div class="row mt-2 h-100 pb-3" style="overflow-y: auto;">
            <div class="row mt-1 p-2 h-100" >
                <h5 class="display-6 blue-text text-center fw-bold d-inline">Finance Summary</h5><hr>
                <div class="col-12 col-lg-5 h-100">
                    <div class="col mb-4 shadow pt-2 rounded px-1" style="background-color: #3a64a2;">
                        <h5 class="blue-text fw-bold" style="opacity: 0.8;">Required fees</h5>
                        <div class="w-100 text-light" style="overflow-x: auto;">
                            <table class="table text-white fw-light">
                                <tr>
                                    <td>Crech</td>
                                    <td>{{fee_crech}}</td>
                                </tr>
                                <tr>
                                    <td>Lower Primary</td>
                                    <td>{{fee_lower_primary}}</td>
                                </tr>
                                <tr>
                                    <td>Upper Primary</td>
                                    <td>{{fee_upper_primary}}</td>
                                </tr>
                                <tr>
                                    <td>J H S</td>
                                    <td>{{fee_jhs}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="col mb-4 shadow pt-2 rounded px-1" style="background-color: #3a64a2;">
                        <h5 class="blue-text fw-bold" style="opacity: 0.8;">Total fees paid</h5>
                        <div class="w-100 text-light pb-2">
                            <table class="table text-white">
                                <tr>
                                    <td>Amount</td>
                                    <td>GHc 27,476.00</td>
                                </tr>
                                <tr>
                                    <td>Number of students</td>
                                    <td>45</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col mb-4 shadow pt-2 rounded px-1" style="background-color: #3a64a2;">
                        <h5 class="blue-text fw-bold" style="opacity: 0.8;">Total Outstanding fees</h5>
                        <div class="w-100 text-light pb-2">
                            <table class="table text-white">
                                <tr>
                                    <td>Amount</td>
                                    <td>GHc 317,476.00</td>
                                </tr>
                                <tr>
                                    <td>Number of students</td>
                                    <td>537</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 float-end h-100">
                    <div class="col mb-4 shadow pt-2 rounded px-1" style="background-color: #3a64a2;">
                        <h5 class="blue-text fw-bold" style="opacity: 0.8;">Salary Payments</h5>
                        <div class="w-100 text-light" style="overflow-x: auto;">
                            <table class="table text-white fw-light">
                                <tr>
                                    <th>Category</th>
                                    <th>Number</th>
                                    <th>Total Amount</th>
                                </tr>
                                <tr>
                                    <td>Teaching Staff</td>
                                    <td>45</td>
                                    <td>GHc 45,000</td>
                                </tr>
                                <tr>
                                    <td>Non-Teaching Staff</td>
                                    <td>12</td>
                                    <td>GHc 6,000</td>
                                </tr>
                                <tr>
                                    <td>Administration Staff</td>
                                    <td>4</td>
                                    <td>GHc 8,000</td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}