{% load static %}

<div class="row w-100 bg-white pt-3">
    <div class="col-lg-8">
        <form action="{% url 'students' %}" method="get" class="form">
        <div class="input-group mb-1">
            <span class="input-group-text">
              <!-- Bootstrap Icon for Search -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 9.558a5.5 5.5 0 1 0-1.184 1.184l3.132 3.132a1 1 0 1 0 1.414-1.414l-3.132-3.132z"/>
                <path fill-rule="evenodd" d="M10.5 6a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0zm-8 0a3.5 3.5 0 1 0 7 0 3.5 3.5 0 0 0-7 0z"/>
              </svg>
            </span>
                
                <input type="search" name="search_student" class="form-control" placeholder="search student .." aria-label="Search" aria-describedby="button-addon2">
        </form>
        </div>
    
    </div>
    <!-- Date display field -->
    <div class="col-lg-2 mt-2 blue-text fw-light" id="dateDiv"></div>
    <div class="col-lg-2" style="float: inline-end;">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle blue-text" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <img src="{% static 'admin.webp' %}" alt="profile_img" class="img-fluid rounded-circle border" width="45" height="45">
                <p class="d-inline blue-text ">Admin</p>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item blue-text" href="{% url 'settings' %}">Account Settings</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Log out</a></li>
                
            </ul>
        </div>
    </div>

</div>