{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container-fluid row home w-100 mt-3 pb-3 ">
    <div class="container h-100">
        <div class="row mt-3 h-100">
            <h3 id="header" class="display-6 text-center fw-bold blue-text">Fee Payment Status</h3><hr>
            <div class="col col-lg-3 shadow" style="height: 20rem;">
                <form action="student_fees" method="POST" class="form">
                    Filter By<hr>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="radio" name="displayBy" id="fullyPaid" value=" -- Fully paid">
                        <label class="form-check-label" for="fullyPaid">
                          Fully paid
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="displayBy" id="owingFees" checked value=" -- Owing fees">
                        <label class="form-check-label" for="owingFees">
                          Owing fees
                        </label>
                    </div>
                    <div class="mt-4 pb-4">
                        <p>For</p>
                        <select name="class_select" id="class_select" class="form-select">
                            <option value="All Students" selected>All Students</option>
                            
                            {% for class in classrooms %}
                            <form action="" method="get">
                                <option value="{{class.name}}" name="class_select">{{class.name}}</option>

                            </form>

                            {% endfor %}
                                
                        </select>
                    </div>
                </form>
            </div>
            <div class="col col-lg-9">
                <div class="shadow pt-2 rounded px-1 pb-4" style="background-color: #3a64a2; max-height: 34rem; overflow-y: auto; margin-bottom: 18px;">
                    <h5 id="displayClass"  class="d-inline fw-bold text-light text-center" style="opacity: 0.8;">All Students</h5>
                    <span><h5 id="displayFilter" class="d-inline text-light"> -- Owing fees</h5></span><hr>
                    <div class="w-100 text-light" style="overflow-x: auto;">
                        <table class="table text-white fw-light">
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Other Names</th>
                                <th>Class</th>
                                <th>Amount Paid</th>
                                <th>Amount Remaining</th>
                            </tr>

                            
                            {% for student in students_owing %}
                                <tr>
                                    <td>{{student.lname}}</td>
                                    <td>{{student.fname}}</td>
                                    <td>{{student.other_names}}</td>
                                    <td>{{student.classroom}}</td>
                                    <td>{{student.fees_paid}}</td>
                                    <td>{{student.fees_rem}}</td>
                                </tr>
                            {% endfor %}
                                
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('#class_select').onchange = function() {
            document.querySelector('#displayClass').textContent = this.value;
        };

        function updateDisplay() {
            const radios = document.getElementsByName('displayBy')
            let view = document.querySelector('#displayFilter')

            for (radio of radios) {
                if (radio.checked) {
                    view.textContent = radio.value
                    break;
                }
            }
        }


        const radios = document.getElementsByName('displayBy')
        for (radio of radios) {
            radio.addEventListener('change', function() {
                // xhr = new XMLHttpRequest();
                // xhr.open('GET', 'http://127.0.0.1/students', true);
                // resp = xhr.responseText;
                // xhr.onload = function() {
                //     if (this.status == 200) {
                //         console.log(resp);

                //     }
                // }
                // xhr.onerror = function() {
                //     console.log('an error occured!');
                // }
                // xhr.send();
                updateDisplay();

            });

        }

    });
</script>
{% endblock %}
